{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
     <h1 style='padding-left: 20px;'>Edit Page</h1>
    <form action="{% url 'wikipedia:edit' title %}" method="post">
        {% csrf_token %}
        <table style='margin: 20px;'>
            <tr>
                <td>
                    <label for="name">Title: </label>
                </td>
                <td>
                    <input type="text" value={{title}} id="name" >
                </td>
            </tr>
            <tr>
                <td>
                    <label for="content">Content: </label>
                </td>
                <td>
                    <textarea id="content" rows="4" cols="75" style='height: 350px;' name="body" >
                        {{body}}
                    </textarea>
                </td>
            </tr>
        </table>
        <input class="btn btn-primary" type="submit" value="Save" style='margin: 20px;'>
    </form>

{% endblock %}
